@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 0.6;
    }
    100% {
        transform: scale(1.15);
        opacity: 1;
    }
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    /* to figure out decent accent */
    ---accent: #00A550; 
    --font-size: 16px;
    --spacing: 10px;
    --border-color-default: rgba(255,255,255,.15);
    --button-border-radius: 6px;
    --border-default: 1px solid var(--border-color-default);
    --tablet-max: 941px;
    --mobile-max: 616px
}

* {
    margin: 0;
    padding: 0;
    transition: all .2s;
    font-family: sans-serif;
}

button, select {
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
} 

body {
    background: var(--primary-color);
    color: var(--secondary-color)
}

.content, .sidebar {
    height: 100vh;
    overflow: auto;
}

.layout {
    display:grid;
    grid-template-columns: 250px 1fr;
}

@media screen and (max-width: 941px) {
    .layout {
        grid-template-columns: 150px 1fr;
    }
}
@media screen and (max-width: 616px) {
    .layout {
        grid-template-columns: unset;
    }
}

.sidebar {
    border-right: var(--border-default);
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 616px) {
    .sidebar {
        display: none;
    }
}

.new-chat-button {
    background-color: var(---accent);
    color: var(--secondary-color);
    display: block;
    padding: 8px 16px;
    margin: 20px auto;
    border-radius: var(--button-border-radius);
    border: 1px solid var(---accent);
    font-weight: 500;
    font-size: 16px;;
}
@media screen and (max-width: 616px) {
    .new-chat-button {
        font-size: 16px;
    }
}

.select-models {
    margin: auto auto 40px;
    align-self: center;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--secondary-color);
    padding: 12px 20px;
    width: 70%;
    /* removes default unstylable arrow */
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    outline: var(---accent);
    box-shadow: 2px 2px 8px var(---accent);
    color: var(--primary-color);
}

.chat-area {
    max-width: 780px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 16px;
    gap: 20px;
}

.chats  {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.chat {
    border-radius: 1.5rem;
    padding: 16px;
}
.user-chat{
    max-width: 80%;
    margin-left:auto;
    background: #242626;
}
.ai-chat{
    margin-right:auto
}

.initaiate-chat {
    margin: auto 0 20px;
    border: 1px solid var(---accent);
    border-radius: 20px;
    padding: 12px;
    background-color: rgba(255,255,255,.95);
    background-color: rgba(0,0,0,.1);
    box-shadow: 2px 2px 8px var(---accent);
    position: sticky;
    bottom: 20px;
    background: var(--primary-color);
}

.chat-input {
    width: 100%;
    background-color: transparent;
    border:none;
    outline: none;
    color: var(--secondary-color);
    resize: none;
    height: auto;
    max-height: 150px;
    font-size: 16px;
}
@media screen and (max-width: 616px) {
    .chat-input {
        font-size: 12.5px;
    }
}

.chat-actions {
    display: flex;
    justify-content: space-between;
}

.chat-action {
    background: transparent;
    outline: none;
    border: none;
    padding: 12px; 
    cursor: pointer;
}
.outer-circle {
    width: 24px;
    height: 24px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.inner-circle {
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 50%;
    animation: pulse 1.5s infinite alternate ease-in-out;
}

.hide {
    display: none;
}

