:root {
    --primary-color: #000;
    --secondary-color: #fff;
    /* to figure out decent accent */
    ---accent: #00A550; 
    --font-size: 16px;
    --spacing: 10px;
    --border-color-default: rgba(255,255,255,.15);
    --button-border-radius: 6px;
    --border-default: 1px solid var(--border-color-default);
    --tablet-max: 941px;
    --mobile-max: 616px
}

* {
    margin: 0;
    padding: 0;
    transition: all .2s;
    font-family: sans-serif;
}

body {
    background: var(--primary-color);
    color: var(--secondary-color)
}

.content, .sidebar {
    height: 100vh;
}

.layout {
    display:grid;
    grid-template-columns: 250px 1fr;
}

@media screen and (max-width: 941px) {
    .layout {
        grid-template-columns: 150px 1fr;
    }
}
@media screen and (max-width: 616px) {
    .layout {
        grid-template-columns: unset;
    }
}

.sidebar {
    border-right: var(--border-default);
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 616px) {
    .sidebar {
        display: none;
    }
}

.new-chat-button {
    background-color: var(---accent);
    color: var(--secondary-color);
    display: block;
    padding: 8px 16px;
    margin: 20px auto;
    border-radius: var(--button-border-radius);
    border: 1px solid var(---accent);
    font-weight: 500;
    font-size: 16px;;
}
@media screen and (max-width: 616px) {
    .new-chat-button {
        font-size: 16px;
    }
}

.select-models {
    margin: auto auto 40px;
    align-self: center;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--secondary-color);
    padding: 8px 20px;
    width: 100px;
    /* removes default unstylable arrow */
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    outline: var(---accent);
    box-shadow: 2px 2px 8px var(---accent);
    color: var(--primary-color);
}

.chat-area {
    max-width: 780px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 16px;
}

.chats  {

}
.initaiate-chat {
    margin: auto 0 20px;
    border: 1px solid var(---accent);
    border-radius: 20px;
    padding: 12px;
    background-color: rgba(255,255,255,.95);
    background-color: rgba(0,0,0,.1);
    box-shadow: 2px 2px 8px var(---accent);
}

.chat-input {
    width: 100%;
    background-color: transparent;
    border:none;
    outline: none;
    color: var(--secondary-color);
    resize: none;
    height: auto;
    max-height: 150px;
    font-size: 16px;
}
@media screen and (max-width: 616px) {
    .chat-input {
        font-size: 12.5px;
    }
}

.chat-actions {
    display: flex;
    justify-content: space-between;
}